In [1]:
import seaborn as sb
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("C:\\Users\\snehi\\OneDrive\\Desktop\\MatLab\\Datasets\\Algerian_forest_fires_dataset_UPDATE.csv",header=1)

In [3]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [4]:
l=df.columns
for i in l:
    df[i.strip()]=df[i]
    if(i!=i.strip()):
        df.drop(i,axis=1,inplace=True)

In [5]:
df.columns

Index(['day', 'month', 'year', 'Temperature', 'FFMC', 'DMC', 'DC', 'ISI',
       'BUI', 'FWI', 'RH', 'Ws', 'Rain', 'Classes'],
      dtype='object')

In [6]:
df[~df["day"].str.isnumeric()]

,day,month,year,Temperature,FFMC,DMC,DC,ISI,BUI,FWI,RH,Ws,Rain,Classes
122,Sidi-Bel Abbes Region Dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,day,month,year,Temperature,FFMC,DMC,DC,ISI,BUI,FWI,RH,Ws,Rain,Classes

In [7]:
df['Region']=0
df['Region'].iloc[123:]=1
df.drop([122,123],inplace=True)
df.reset_index(inplace=True)
df.drop('index',inplace=True,axis=1)

In [8]:
df[~df["day"].str.isnumeric()]

Empty DataFrame
Columns: [day, month, year, Temperature, FFMC, DMC, DC, ISI, BUI, FWI, RH, Ws, Rain, Classes, Region]
Index: []

In [9]:
df.dropna(inplace=True)

In [10]:
df.duplicated().sum()

0

In [11]:
df["Classes"]=df["Classes"].str.strip()

In [12]:
df["Classes"].unique()

array(['not fire', 'fire'], dtype=object)

In [13]:
from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder(categories=[["not fire","fire"]])
df["Classes"]=encoder.fit_transform(df[["Classes"]])

In [14]:
try:
    for i in df.columns:
        df[i]=df[i].astype(float)
except Exception as e:
    pass

In [15]:
df.head()

,day,month,year,Temperature,FFMC,DMC,DC,ISI,BUI,FWI,RH,Ws,Rain,Classes,Region
0,1.0,6.0,2012.0,29.0,65.7,3.4,7.6,1.3,3.4,0.5,57.0,18.0,0.0,0.0,0.0
1,2.0,6.0,2012.0,29.0,64.4,4.1,7.6,1.0,3.9,0.4,61.0,13.0,1.3,0.0,0.0
2,3.0,6.0,2012.0,26.0,47.1,2.5,7.1,0.3,2.7,0.1,82.0,22.0,13.1,0.0,0.0
3,4.0,6.0,2012.0,25.0,28.6,1.3,6.9,0.0,1.7,0.0,89.0,13.0,2.5,0.0,0.0
4,5.0,6.0,2012.0,27.0,64.8,3.0,14.2,1.2,3.9,0.5,77.0,16.0,0.0,0.0,0.0

In [16]:
df['Region'].unique()

array([0., 1.])

In [17]:
df.to_csv("Finalized_Dataset.csv",index=None)